main{
    display: flex;
    flex-direction: row;
}

/* ---You're main container needs to have two children 
 one of which will be the left column and the other will the right column. --- */
 .input-elements{
     display: flex;
     flex-direction: column;
 }

 .display-elements{
     display: flex;
     flex-direction: column;
 }

 /* ---Use Flexbox to arrange the form elements --- */
 #student-info{
     display: flex;
     flex-direction: column;
 }

 #data-input{
    display: flex;
    flex-direction: column;
}

 #headline-display{
    display: flex;
    flex-direction: column;
}

 #data-output{
    display: flex;
    flex-direction: column;
}