/* ---- IMPORTS ---- */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@500&family=Roboto+Condensed:wght@300&family=Sacramento&display=swap');
/* 
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Sacramento', cursive; 
*/
body{
    background: linear-gradient( 0.25turn, #ff7a7a, #f1e1f8, #9198e5);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

/* ---You're main container needs to have two children 
 one of which will be the left column and the other will the right column. --- */
 .input-elements{
     display: flex;
     flex-direction: column;
     margin: 0 3rem;
     padding: 1rem;
     background-color: white;
     width: 360px;
 }

 .display-elements{
     display: flex;
     flex-direction: column;
     margin: 0 3rem;
     padding: 1rem;
     background-color: white;
     height: 595px;
 }

 /* ---Use Flexbox to arrange the form elements --- */
 #student-info{
     display: flex;
     flex-direction: column;
 }

 #data-input{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid black;
}

 #headline-display{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid black;
    text-align: center;
}

 #data-output{
    display: flex;
    flex-direction: column;
}