main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---You're main container needs to have two children 
 one of which will be the left column and the other will the right column. --- */
 .input-elements{
     display: flex;
     flex-direction: column;
     margin: 0 3rem;
     padding: 1rem;
 }

 .display-elements{
     display: flex;
     flex-direction: column;
     margin: 0 3rem;
 }

 /* ---Use Flexbox to arrange the form elements --- */
 #student-info{
     display: flex;
     flex-direction: column;
 }

 #data-input{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid black;
}

 #headline-display{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid black;
    text-align: center;
}

 #data-output{
    display: flex;
    flex-direction: column;
}